.ArticleEdit {
  box-sizing: border-box;
  width: 100%;
  padding: 25px;
}

.ArticleEdit-Input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;
}

.ArticleEdit-Input label {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.ArticleEdit-Input input {
}

.ArticleEdit-Input textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
}

.ArticleEdit-Input_description label {
  width: 100%;
}

.ArticleEdit-Errors_Title {
  margin: 15px 0;
  margin-bottom: 10px;
}

.ArticleEdit-Errors_Item {
  margin: 0;
  margin-bottom: 10px;
}
