/* Контрол с общими действиями */
.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Controls__tovars {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-right: 14px;
  margin-left: 19px;
}
